  body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-image: url(./img/cocina.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
nav {
  font-family: 'Baloo Bhaijaan 2', cursive;
}
    .contenedor {
     background-color: rgb(158, 105, 7);
      background-size:cover ;
      background-repeat: no-repeat;
      border: 1px solid rgb(117, 21, 126);
      border-radius: 3%;
      margin: 0 10%;
      padding: 0%;
      padding-bottom: 10%;
    }
.parrafo{
  background-color: rgb(119, 92, 3);
  background-repeat: no-repeat;
  border: 1px solid rgb(93, 50, 212);
  border-radius: 3%;
  margin: 0 10%;
  padding: 0%;
  padding-bottom: 10%;
  width: 500px;
  height: 450px;
  padding-left: 10px;
  padding-right: 10px;
  
}
    .colum{
      border:1px solid rgb(158, 105, 7);
      background-color: whitesmoke;
      height: 500px;
    }
    input{
      width: 70%;
    }
    h2{
      color: whitesmoke;
      font-family: 'Baloo Bhaijaan 2', cursive;
      
    }
 
    .slogan{
      font-size: 200%;
      padding-top: 20%;
      text-align: center;
      font-style: rgba(68, 29, 175, 0.836);
      font-family: 'Baloo Bhaijaan 2', cursive;
    }
    
    p {
      text-align: justify;
    }

    .contacto{
      background-color: rgb(87, 67, 1);
      background-repeat: no-repeat;
      border: 1px solid rgb(158, 105, 7);
      border-radius: 3%;
      margin: 0 10%;
      padding: 0%;
      padding-bottom: 10%;
     
      
    }